//color
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$secondry-color-light: #ffb900;
$secondry-color-dark: #ff7300;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

$color-gray-light-1: #f9f9f9;
$color-gray-light-2: #eee;

$white-color: #ffffff;
$white-dark-color: #777;

$color-black: #000;

//grid
$grid-width: 114rem;
$gutter-ver: 8rem;
$gutter-her: 6rem;

//font
$font-size-defult:1.5rem;