.feature-box {
  background-color: rgba($white-color, 0.8);
  text-align: center;
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: all 0.2s;
  backface-visibility: hidden;

  &__icon {
    font-size: 6rem;
    background: linear-gradient(
      to right,
      $primary-color-light,
      $primary-color-dark
    );
    display: inline;
    -webkit-background-clip: text;
    color: transparent;
    margin: 2rem;
  }

  &:hover {
    transform: translateY(-1rem) scale(1.01);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.25);
    background-color: $white-color;
  }
}

