.about-section {
  background-color: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.features-section {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($primary-color-light, 0.9),
      rgba($primary-color-dark, 0.8)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin: -11rem 0;

  & > * {
    transform: skewY(7deg);
  }
}

.tours-section{
    background-color: $color-gray-light-1;
    padding: 25rem 0 50rem 0;
}
